/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    cursor: pointer;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    padding-right: 50px;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-family: Work Sans;
    font-weight: 400;
    margin-bottom: 32px;
}

.banner img {
    margin-top: 32px;
    width: 100%;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Teams Styles */

.teams {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.teams-title {
    font-size: 3rem;
}

#quick-list {
    color: #727272;
    font-weight: 500;
}

#of-our {
    color: #131313;
    font-weight: 700;
}

#features {
    color: #FF900E;
    font-weight: 700;
}

.teams-description {
    color: var(--dark-03, #727272);
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 32px;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}


/* Mobile Devices */

@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
    }

    header {
        padding: 20px;
    }

    nav li {
        padding-right: 30px;
        text-align: center;
    }

    .teams {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-content {
        padding-left: 40px;
        padding-right: 40px;
    }
}


/* Tablet Devices */

@media screen and (min-width:576px) and (max-width:992px) {
    nav {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }

    nav li {
        padding-right: 30px;
        text-align: center;
    }

    .teams-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-content {
        padding-left: 40px;
        padding-right: 40px;
    }
}